<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <hr style="width: 100%; color: black; height: 1px; background-color:gainsboro;">
        <div class="container">
            <div class="row">
    <div class="col-md-8 col-xs-12">
                <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control" id="author" placeholder="Автор">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="sauthor">
        	            <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </div>
    </div>
    <div class="col-md-4 col-xs-12">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control" id="book" placeholder="Книга">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" id="sbook">
        	            <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </div>
    </div>
    </div>
</div>
    <hr style="width: 100%; color: black; height: 1px; background-color:gainsboro;">
    <div class="container">
    <div id="result"></div>
    <div class="row" id="pages"></div>
    </div>
</body>
</html>
